NEXT_PUBLIC_APP_NAME=Yoink
GEMINI_API_KEY=
PINATA_JWT=
PINATA_API_KEY=
PINATA_API_SECRET=
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_PAYER_WALLET_ID=
CIRCLE_PAYER_WALLET_ADDRESS=
CIRCLE_BLOCKCHAIN=ARC-TESTNET
CIRCLE_USDC_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
YOINK_BASE_URL=http://localhost:3000
